.header {
    background: #b71775;
    height: 200px;
  }
  
  .footer {
    margin: auto;
    padding-top: 25px;
    text-align: center;
    background:blueviolet;
    font-size: 3rem;
    color: white;
  }
  